# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Entornos virtuales
venv/
env/
.venv/
.env

# CSV grandes
#*.csv

# Power BI
*.pbix.tmp
*.pbit

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs y temporales
*.log
*.tmp

# IDEs
.vscode/
.idea/
